# ─── Node ───
node_modules/

# ─── Env ───
.env
.env.*
!.env.example

# ─── Prisma ───
generated/

# ─── Logs ───
*.log

# ─── Backups locales ───
backups/
uploads/*
!uploads/animales/
uploads/animales/*
!uploads/animales/*.jpg
!uploads/animales/*.jpeg
!uploads/animales/*.png
!uploads/animales/*.webp

# ─── OS ───
.DS_Store
Thumbs.db
